name: Build and publish

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: windows-latest
    env:
      VERSION: ${{ github.event.release.tag_name }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x
      - run: dotnet restore
      - run: dotnet build Mono.Cecil.sln -c Release
      - run: dotnet pack Mono.Cecil.sln -c Release --output nupkgs -p:Version=${{ env.VERSION }}
      - run: dotnet nuget push **/*.nupkg -k ${{ secrets.NUGET_TOKEN }} -s https://api.nuget.org/v3/index.json
